html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
  display: inline-block;
}

nav a {
  color: black;
  white-space: nowrap;
}

.cta {
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px 20px;
}

main > section {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

main > section > div {
  max-width: 531px;
}

h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
}

p {
  margin: 35px 0;
  font-size: 20px;
  line-height: 28px;
}

.cta,
.cta-button {
  padding: 20px 35px;
  border-radius: 14px;
  font-size: 20px;
}

.cta-button {
  background-color: black;
  color: white;
}

.logos {
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%);
}
